body {
  width: 100vw;
  height: 100vh;
  background: rgb(18,11,62);
  color: #fff !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#app {
  width: 350px;
  max-height: 100vh;
  overflow-y: hidden;
  font-family: "Graphik LC Web" -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica !important;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

@font-face {
  font-family: 'Graphik LC Web';
  src: url(https://cdn-cashy-static-assets.lucidchart.com/app/webroot/css/css-includes/product-brand-fonts/graphik/Graphik-Regular-Cy-Web.woff2)
      format('woff2'),
    url(https://cdn-cashy-static-assets.lucidchart.com/app/webroot/css/css-includes/product-brand-fonts/graphik/Graphik-Regular-Cy-Web.woff)
      format('woff');
}

.log-x {
  scrollbar-width: thin;
}

.nuem-x {
  background: linear-gradient(145deg, #f0f0f0, #cacaca) !important;
  box-shadow:  1px 1px 2px #aaaaaa,
               -1px -1px 2px #ffffff !important;
}

.nuem-x:active {
  border: none;
  outline: none;
}